@charset 'utf-8';

html {
	background: #eee;
}
body {
	background: #fff;
	border: 1px solid #ddd;
	color: #222;
	font: 100%/1.5em "Helvetica Neue",Arial,Helvetica,sans-serif;
	margin: 0 auto;
	padding: 0 16px;
	width: 752px;
}

a,
a:link,
a:visited {
	color: #339;
}
a:active,
a:hover {
	color: #00f;
}

h1 {
	color: #000;
	font-size: 2em;
	line-height: 1.5em;
}
h2 {
	font-size: 1.5em;
	line-height: 1em;
}
h3 {
	font-size: 1.1em;
	line-height: 0.2em;
}

article,
footer,
header,
nav {
	display: block;
}

body > header {
	padding: 2em 0;
}
body > article > section {
	clear: both;
	float: left;
	width: 96%;
}
body > article > section > header {
	clear: both;
	text-align: right;
	transform-origin: 23.5em 25em;
	transform: rotate(-90deg);
	-ms-transform-origin: 23.5em 25em;
	-ms-transform: rotate(-90deg);
	-moz-transform-origin: 23.5em 25em;
	-moz-transform: rotate(-90deg);
	-o-transform-origin: 23.5em 25em;
	-o-transform: rotate(-90deg);
	-webkit-transform-origin: 23.5em 25em;
	-webkit-transform: rotate(-90deg);
}
body > article > section > header h2 {
	background: #fff;
	border: 0 solid #ddd;
	border-width: auto;
	float: right;
	margin: -1.5em 0 17px;
	padding: 0.5em 0.5em 7px;
}
body > footer {
	background: #eee;
	border-top: 1px solid #ddd;
	clear: both;
	color: #ccc;
	margin: 0 -17px -1px;
	padding: 1.5em 17px 3em;
}
body > footer a {
	color: #ccc;
}

form {
  margin-top: 1em;
  margin-bottom : 4em;
}

form div {
  margin-top: 0.8em;
  margin-bottom: 0.3em;
}

form h5 {
  padding-bottom: 0.6em;
}

.errors {
  background-color: red;
  color: white;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 0.5em;
}

.field_with_errors {
  margin: 0em;
  padding: 0em;
}
.add_event {
	float: right;
	margin-top: -3em;
}
.add_event a {
	background: #ff9;
	display: block;
	padding: 0.75em;
}

.events {
	float: left ;
	padding: 0;
	width: 100%;
}
.events li {
	border: 0.5em solid #eee;
	float: left;
	height: 5.5em;
	margin: 0 0 3em 0px;
	padding: 0.5em;
	width: 200px;
}
.events li:nth-child(3n-2) {
	clear: left;
	margin-left: 0;
}

.events_last {
  margin-bottom: 1em;
}

.events .gfunc {
	border-color: #a2b935;
}
.events .scotrug {
	border-color: #c61a1a;
}
.events .scottish_developers {
	border-color: #c61a1a;
}
.events .glasgowtechnet {
	border-color: #666c78;
}
.events .web_centric {
	border-color: #333333;
}
.events .tech_pizza {
	border-color: #0000ff;
}
.events .uxbookclub {
	border-color: #336699;
}
.events .gjs {
	border-color: HotPink;
}
.events .techmeetup {
	border-color: #CC6699;
}
.events .popup {
	border-color: DodgerBlue;
}
.events .leanagile {
	border-color: OrangeRed;
}
.events .leanagile {
	border-color: Maroon;
}
.events .deadcoders {
	border-color: #1F1A17;
}

.events .pythonglasgow {
    border-color: #FFBC29;
}

.events .mobileapp {
    border-color: #00AF64;
}

.events .codecraft {
  border-color: #a2b935;
}

.events .glasgowphp {
  border-color: #82358B;
}

.events .scotlug {
  border-color: #DDEC00;
}

.events .dockerglasgow {
    border-color: #0db7ed;
}

.events .ladiesofcode {
	border-color: #3ea86f;
}

ul {
  list-style: none;
}
