<article>
  <section>
    <header>
      <h2>Fortnightly</h2>
    </header>
    <ol class="events">
      <li class="gfunc vcard">
          <h3><a class="fn org url" href="#">GFunc</a></h3>
          <p class="who">Functional programmers</p>
          <p class="when">1st and 3rd Wednesday</p>
      </li>
  </ol>
  </section>
</article>
<article>
  <section>
    <header>
      <h2>Monthly</h2>
    </header>
    <ol class="events">
      <li class="tech_pizza vcard">
          <h3><a class="fn org url" href="http://rookieoven.com/rookieoven-html5.html">Rookie Oven</a></h3>
          <p class="who">Technologiests</p>
          <p class="when">First Monday</p>
      </li>
      <li class="grug vcard">
          <h3><a class="fn org url" href="http://glasgow.scotrug.org">GRug</a></h3>
          <p class="who">Rubyists</p>
          <p class="when">First Thursday</p>
      </li>
      <li class="uxbookclub vcard">
          <h3><a class="fn org url" href="http://uxbookclub.org/doku.php?id=glasgow">Glasgow UX Book Club</a></h3>
          <p class="who">UX/UI designers</p>
          <p class="when">Second Monday</p>
      </li>
      <li class="gfunc vcard">
          <h3><a class="fn org url" href="http://www.popuphack.co.uk/">Popup Hack</a></h3>
          <p class="who">Hackers who hack</p>
          <p class="when">Second Tuesday</p>
      </li>
      <li class="gfunc vcard">
          <h3><a class="fn org url" href="https://groups.google.com/forum/?fromgroups#!forum/lean-agile-glasgow">Lean Agile Glasgow</a></h3>
          <p class="who">Agilists &amp; lean thinkers</p>
          <p class="when">Second Wednesday</p>
      </li>
      <li class="web_centric vcard">
          <h3><a class="fn org url" href="http://www.meetup.com/glasgowwebcentric/">Web Centric</a></h3>
          <p class="who">Web developers</p>
          <p class="when">Third Tuesday</p>
      </li>
      <li class="refresh vcard">
          <h3><a class="fn org url" href="http://twitter.com/#!/refreshgla">Refresh Glasgow</a></h3>
          <p class="who">Developers + Deisgner</p>
          <p class="when">Third Wednesday</p>
      </li>
      <li class="scottish_developers vcard">
          <h3><a class="fn org url" href="http://scottishdevelopers.com">Scottish Developers</a></h3>
          <p class="who">Developers</p>
          <p class="when">Third Thursday</p>
      </li>
      <li class="techmeetup vcard">
          <h3><a class="fn org url" href="http://techmeetup.co.uk">Techmeetup</a></h3>
          <p class="who">Technologists</p>
          <p class="when">Fourth Wednesday</p>
      </li>
  </ol>
  </section>
  <section>
    <header>
      <h2>Bi-Monthly</h2>
    </header>
    <ol class="events events_last">
      <li class="book_club vcard">
          <h3><a class="fn org url" href="http://scottishdevelopers.com/category/events/book-club-events/">Developer Book Club</a></h3>
          <p class="who">Developers</p>
          <p class="when">First Tuesday</p>
      </li>
  </ol>
  </section>
</article>
