<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>glasgow2: what’s on</title>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "core" %>
  </head>
  <body>
    <header>
    <h1>glasgow2: what’s on</h1>
    <% unless request.request_uri =~ /new/  %>
      <nav>
        <ul>
          <li class="add_event">
          <a href="<%= new_event_url %>">Add your event</a>
          </li>
        </ul>
        </nav>
      <% end %>
    </header>

    <%= yield %>

    <footer>
      Idea stolen from <a href="http://edinburgh2.com/">edinburgh2.com</a> which is a
      <a href="http://sneeu.com/">sneeu.com</a> thing. <a href="http://glasow2.com/" property="dc:title" rel="dc:identifier">glasgow2.com</a> is maintained by Colin Gemmell.
      If I got some details wrong it'd be great if you <a typeof="foaf:Person" href="mailto:pythonandchips@gmail.com.com">let me know</a>.
    </footer>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("UA-11955268-3");
          pageTracker._trackPageview();
        } catch(err) {}
</script>

</body>
</html>
